<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.tecent.mqq.flyticket</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqflyticket</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.tencent.mqq.apisupport</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqapi</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.tencent.mqq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqq</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>QQBizAgent</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqopensdkapi</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>QQSSoLogin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqOpensdkSSoLogin</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.tencent.mqq.apisupportwallet</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqapiwallet</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.tencent.mqq.opensdkV2</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqopensdkapiV2</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.tencent.mqq.wpa</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mqqwpa</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.tencent.mipadqq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ipadqqapi</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.tencent.mipadqq.qqhd</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>qqhdapi</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>9.1</string>
    <key>DTSDKName</key>
    <string>iphoneos9.1</string>
    <key>CFBundleName</key>
    <string>IPadQQ</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon72x72~ipad.png</string>
          <string>AppIcon72x72@2x~ipad.png</string>
          <string>AppIcon50x50~ipad.png</string>
          <string>AppIcon50x50@2x~ipad.png</string>
          <string>AppIcon29x29~ipad.png</string>
          <string>AppIcon29x29@2x~ipad.png</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>dianpinghd</string>
      <string>tencent200002.provider</string>
      <string>mttbrowser</string>
      <string>WPSOfficeApi</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>QQ</string>
    <key>DTThinningTraits</key>
    <dict>
      <key>artworkDevIdiom</key>
      <string>pad</string>
      <key>platform</key>
      <string>iphoneos</string>
      <key>featuresToRemove</key>
      <array/>
      <key>gfxFeatureSetClass</key>
      <string>MTL1,2</string>
      <key>architecture</key>
      <string>arm64</string>
      <key>gfxFeatureSetFallbacks</key>
      <array>
        <string>GLES2,0</string>
      </array>
      <key>devPerfMemoryClass</key>
      <integer>1</integer>
      <key>artworkHostedIdioms</key>
      <array/>
      <key>artworkScaleFactor</key>
      <integer>2</integer>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>voip</string>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>officeopenxml</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.openxmlformats.openxml</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>data</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.data</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>ppt</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.powerpoint.ppt</string>
          <string>public.pptx</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>doc</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.word.doc</string>
          <string>public.docx</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>xls</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.excel.xls</string>
          <string>public.xlsx</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>pdf</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.adobe.pdf</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>archive</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>org.gnu.gnu-tar-archive</string>
          <string>com.rarlab.rar-archive</string>
          <string>org.gnu.gnu-zip-archive</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>audivideo</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.audiovisual-content</string>
          <string>public.mp3</string>
          <string>public.aiff-audio</string>
          <string>public.mpeg-4-audio</string>
          <string>com.microsoft.waveform-​audio</string>
          <string>public.arm</string>
          <string>public.movie</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>image</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.image</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>txt</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.text</string>
        </array>
      </dict>
      <dict>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>CFBundleTypeName</key>
        <string>document</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.pages</string>
          <string>public.numbers</string>
          <string>public.key</string>
        </array>
      </dict>
    </array>
    <key>DTSDKBuild</key>
    <string>13B137</string>
    <key>CFBundleShortVersionString</key>
    <string>5.5</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>14F27</string>
    <key>SignerIdentity</key>
    <string>Apple iPhone OS Application Signing</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>UIAppFonts</key>
    <array>
      <string>Verdana</string>
    </array>
    <key>CFBundleVersion</key>
    <string>5.5.0.78</string>
    <key>DTXcodeBuild</key>
    <string>7B91b</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
      </dict>
      <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Landscape</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
      </dict>
    </array>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>DTPlatformBuild</key>
    <string>13B137</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>2</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.tencent.mipadqq</string>
    <key>DTXcode</key>
    <string>0710</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>IPadQQ</string>
    <key>NSMainNibFile~ipad</key>
    <string>MainWindow2</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>com.tencent.rdm.uuid</key>
    <string>486fb0c9-03d7-4c36-955b-0ae34d77095f</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>UISupportedDevices</key>
    <array>
      <string>iPad4,1</string>
      <string>iPad4,2</string>
      <string>iPad4,3</string>
      <string>iPad4,4</string>
      <string>iPad4,5</string>
      <string>iPad4,6</string>
      <string>iPad4,7</string>
      <string>iPad4,8</string>
      <string>iPad4,9</string>
    </array>
  </dict>
</plist>
